:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --logo-color: #146787;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  /* background-color: #8ec5fc;
  background-image: linear-gradient(180deg, #8ec5fc 0%, #e0c3fc 100%); */
}
