.main-container {
	height: 54vh;
	display: flex;
	flex-direction: column;
}

.pagination-bar {
	display: flex;
	justify-content: center;
	position: absolute; /* Modificado */
	margin-bottom: 50px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	width: 100%;
}
