header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.34);
	background-color: #ffffff;
}

a {
	color: black;
	font-weight: 400;
	font-size: 40px;
	line-height: 150%;
}
