header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.34);
}

a {
  color: black;
  font-weight: 400;
  font-size: 40px;
  line-height: 150%;
}
