.main-container {
	display: flex;
	justify-content: center;
	margin: 15px;
}

.empty-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 15px;
	box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
	border-radius: 5px;
	background-color: #ffff;
}
