.main-container {
	height: 54vh;
	display: flex;
	flex-direction: column;
}

.pagination-bar {
	display: flex;
	justify-content: center;
	position: absolute; /* Modificado */
	margin-bottom: 50px;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	width: 100%;
}

.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60vh;
}

.card-container .MuiCard-root {
	display: flex;
	text-align: center;
	width: 550px;
	height: 60vh;
	background-color: #fff;
	background-image: none;
	background-position: 0 90%;
	background-repeat: repeat no-repeat;
	background-size: 4px 3px;
	border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
	box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
	box-sizing: border-box;
	color: black;
	display: inline-block;
	font-family: Neucha, sans-serif;
	font-size: 1rem;
	line-height: 23px;
	outline: none;
	padding: 0.75rem;
	text-decoration: none;
	transition: all 235ms ease-in-out;
	border-bottom-left-radius: 15px 255px;
	border-bottom-right-radius: 225px 15px;
	border-top-left-radius: 255px 15px;
	border-top-right-radius: 15px 225px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.header-card {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
